In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [2]:
df = spark.read.csv('./dataset_CrimeRate.csv',inferSchema=True,header=True)

In [3]:
df.columns

['Year',
 'Month',
 'Population',
 'New Immgirants',
 'Unemployment rate',
 'Total Unemployments',
 'Police rate per 100000',
 'Total Number Of Police ',
 'Average age',
 'Average Income',
 'Is Natural Calamity Affected',
 'Is suffering Draught',
 'Is BJP Government',
 'Crime rate',
 'Toal Crimes']

In [4]:
df.corr('Year','Crime rate')

-0.807565306528001

In [5]:
df.corr('Population','Crime rate')

-0.8013200874496074

In [6]:
df.corr('New Immgirants','Crime rate')

-0.8066518235701119

In [7]:
df.corr('Unemployment rate','Crime rate')

0.012024125882520626

In [8]:
df.corr('Total Unemployments','Crime rate')

-0.5513385464958418

In [9]:
df.corr('Police rate per 100000','Crime rate')

-0.5059523643200514

In [10]:
df.corr('Average age','Crime rate')

-0.8255926349250124

In [11]:
df.corr('Average Income','Crime rate')

-0.8066535862137316

In [12]:
df.show()

+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|Year|    Month|Population|New Immgirants|Unemployment rate|Total Unemployments|Police rate per 100000|Total Number Of Police |Average age|Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|Crime rate|Toal Crimes|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|1990|  January| 873277799|        512686|             2.11|           18426161|                0.0076|                 663691|       21.1|          4256|                          NO|                 YES|               NO|      4.14|      36153|
|1990| February| 873277799|        512956|             2.12|           18426161|                0.0076|                 663691|       21.1|          4260|                         YES|                 YES|               NO|     4.145|      36197|
|1990|    March| 873277799|        513226|             2.13|           18513489|                0.0076|                 663691|       21.1|          4264|                          NO|                 YES|               NO|      4.15|      36241|
|1990|    April| 873277799|        513496|             2.14|           18600817|                0.0076|                 663691|       21.1|          4268|                          NO|                  NO|               NO|     4.155|      36284|
|1990|      May| 873277799|        513766|             2.15|           18688144|                0.0076|                 663691|       21.1|          4272|                          NO|                 YES|               NO|      4.16|      36328|
|1990|     June| 873277799|        514036|             2.16|           18775472|                0.0076|                 663691|       21.1|          4276|                          NO|                  NO|               NO|     4.165|      36372|
|1990|     July| 873277799|        514306|             2.17|           18862800|                0.0076|                 663691|       21.1|          4280|                         YES|                  NO|               NO|      4.17|      36415|
|1990|   August| 873277799|        514576|             2.18|           18950128|                0.0076|                 663691|       21.1|          4284|                          NO|                 YES|               NO|     4.175|      36459|
|1990|September| 873277799|        514846|             2.19|           19037456|                0.0076|                 663691|       21.1|          4288|                          NO|                 YES|               NO|      4.18|      36503|
|1990|  October| 873277799|        515116|              2.2|           19124783|                0.0076|                 663691|       21.1|          4292|                         YES|                 YES|               NO|     4.185|      36546|
|1990| November| 873277799|        515386|             2.21|           19212111|                0.0076|                 663691|       21.1|          4296|                         YES|                 YES|               NO|      4.19|      36590|
|1990| December| 873277799|        515656|             2.22|           19299439|                0.0076|                 663691|       21.2|          5256|                          NO|                 YES|               NO|     4.195|      36634|
|1991|  January| 888123777|        600654|            2.367|           19386767|                0.0076|                 674974|       21.2|          5259|                          NO|                  NO|               NO|       4.2|      37301|
|1991| February| 888123777|        612648|             2.37|           21021889|                0.0076|                 674974|       21.2|          5262|                         YES|                 YES|               NO|     4.205|      37345|
|1991|    March| 888123777|        624642|            2.373|           21048533|                0.0076|                 674974|       21.2|          5265|                         YES|                  NO|               NO|      4.21|      37390|
|1991|    April| 888123777|        636636|            2.376|           21075177|                0.0076|                 674974|       21.2|          5268|                          NO|                  NO|               NO|     4.215|      37434|
|1991|      May| 888123777|        648630|            2.379|           21101820|                0.0076|                 674974|       21.2|          5271|                          NO|                 YES|               NO|      4.22|      37478|
|1991|     June| 888123777|        660624|            2.382|           21128464|                0.0076|                 674974|       21.2|          5274|                         YES|                 YES|               NO|     4.225|      37523|
|1991|     July| 888123777|        672618|            2.385|           21155108|                0.0076|                 674974|       21.2|          5277|                         YES|                 YES|               NO|      4.23|      37567|
|1991|   August| 888123777|        684612|            2.388|           21181752|                0.0076|                 674974|       21.2|          5280|                         YES|                 YES|               NO|     4.235|      37612|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
only showing top 20 rows

In [13]:
df.describe().show()

+-------+-----------------+---------+--------------------+------------------+-------------------+-------------------+----------------------+-----------------------+------------------+------------------+----------------------------+--------------------+-----------------+------------------+-----------------+
|summary|             Year|    Month|          Population|    New Immgirants|  Unemployment rate|Total Unemployments|Police rate per 100000|Total Number Of Police |       Average age|    Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|        Crime rate|      Toal Crimes|
+-------+-----------------+---------+--------------------+------------------+-------------------+-------------------+----------------------+-----------------------+------------------+------------------+----------------------------+--------------------+-----------------+------------------+-----------------+
|  count|              372|      372|                 372|               372|                372|                372|                   372|                    372|               372|               372|                         372|                 372|              372|               372|              372|
|   mean|           2005.0|     null| 1.136516118032258E9|2681338.0967741935| 2.6938225806451626| 3.06779445672043E7|  0.010524462365591404|     1199599.6747311829|24.168817204301128|11683.059139784946|                        null|                null|             null|3.9893682795779664|44834.74731182796|
| stddev|8.956318072913358|     null|1.5416786540078866E8|1290172.2306156927|0.26953768090833036|  5882185.469900954|  0.002122442899376...|      329577.4063574987|2.1182548120977995| 4268.635657823512|                        null|                null|             null|0.4095747161502728|3803.978424638338|
|    min|             1990|    April|           873277799|            512686|               2.11|           18426161|                0.0076|                 663691|              21.1|              4256|                          NO|                  NO|               NO|              3.15|            36153|
|    max|             2020|September|          1380004385|           4906500|                3.4|           46920149|                0.0192|                1926000|              28.4|             19046|                         YES|                 YES|              YES|              4.88|            53682|
+-------+-----------------+---------+--------------------+------------------+-------------------+-------------------+----------------------+-----------------------+------------------+------------------+----------------------------+--------------------+-----------------+------------------+-----------------+

In [14]:
df.show()

+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|Year|    Month|Population|New Immgirants|Unemployment rate|Total Unemployments|Police rate per 100000|Total Number Of Police |Average age|Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|Crime rate|Toal Crimes|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|1990|  January| 873277799|        512686|             2.11|           18426161|                0.0076|                 663691|       21.1|          4256|                          NO|                 YES|               NO|      4.14|      36153|
|1990| February| 873277799|        512956|             2.12|           18426161|                0.0076|                 663691|       21.1|          4260|                         YES|                 YES|               NO|     4.145|      36197|
|1990|    March| 873277799|        513226|             2.13|           18513489|                0.0076|                 663691|       21.1|          4264|                          NO|                 YES|               NO|      4.15|      36241|
|1990|    April| 873277799|        513496|             2.14|           18600817|                0.0076|                 663691|       21.1|          4268|                          NO|                  NO|               NO|     4.155|      36284|
|1990|      May| 873277799|        513766|             2.15|           18688144|                0.0076|                 663691|       21.1|          4272|                          NO|                 YES|               NO|      4.16|      36328|
|1990|     June| 873277799|        514036|             2.16|           18775472|                0.0076|                 663691|       21.1|          4276|                          NO|                  NO|               NO|     4.165|      36372|
|1990|     July| 873277799|        514306|             2.17|           18862800|                0.0076|                 663691|       21.1|          4280|                         YES|                  NO|               NO|      4.17|      36415|
|1990|   August| 873277799|        514576|             2.18|           18950128|                0.0076|                 663691|       21.1|          4284|                          NO|                 YES|               NO|     4.175|      36459|
|1990|September| 873277799|        514846|             2.19|           19037456|                0.0076|                 663691|       21.1|          4288|                          NO|                 YES|               NO|      4.18|      36503|
|1990|  October| 873277799|        515116|              2.2|           19124783|                0.0076|                 663691|       21.1|          4292|                         YES|                 YES|               NO|     4.185|      36546|
|1990| November| 873277799|        515386|             2.21|           19212111|                0.0076|                 663691|       21.1|          4296|                         YES|                 YES|               NO|      4.19|      36590|
|1990| December| 873277799|        515656|             2.22|           19299439|                0.0076|                 663691|       21.2|          5256|                          NO|                 YES|               NO|     4.195|      36634|
|1991|  January| 888123777|        600654|            2.367|           19386767|                0.0076|                 674974|       21.2|          5259|                          NO|                  NO|               NO|       4.2|      37301|
|1991| February| 888123777|        612648|             2.37|           21021889|                0.0076|                 674974|       21.2|          5262|                         YES|                 YES|               NO|     4.205|      37345|
|1991|    March| 888123777|        624642|            2.373|           21048533|                0.0076|                 674974|       21.2|          5265|                         YES|                  NO|               NO|      4.21|      37390|
|1991|    April| 888123777|        636636|            2.376|           21075177|                0.0076|                 674974|       21.2|          5268|                          NO|                  NO|               NO|     4.215|      37434|
|1991|      May| 888123777|        648630|            2.379|           21101820|                0.0076|                 674974|       21.2|          5271|                          NO|                 YES|               NO|      4.22|      37478|
|1991|     June| 888123777|        660624|            2.382|           21128464|                0.0076|                 674974|       21.2|          5274|                         YES|                 YES|               NO|     4.225|      37523|
|1991|     July| 888123777|        672618|            2.385|           21155108|                0.0076|                 674974|       21.2|          5277|                         YES|                 YES|               NO|      4.23|      37567|
|1991|   August| 888123777|        684612|            2.388|           21181752|                0.0076|                 674974|       21.2|          5280|                         YES|                 YES|               NO|     4.235|      37612|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
only showing top 20 rows

In [15]:
df.na.drop().show()

+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|Year|    Month|Population|New Immgirants|Unemployment rate|Total Unemployments|Police rate per 100000|Total Number Of Police |Average age|Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|Crime rate|Toal Crimes|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|1990|  January| 873277799|        512686|             2.11|           18426161|                0.0076|                 663691|       21.1|          4256|                          NO|                 YES|               NO|      4.14|      36153|
|1990| February| 873277799|        512956|             2.12|           18426161|                0.0076|                 663691|       21.1|          4260|                         YES|                 YES|               NO|     4.145|      36197|
|1990|    March| 873277799|        513226|             2.13|           18513489|                0.0076|                 663691|       21.1|          4264|                          NO|                 YES|               NO|      4.15|      36241|
|1990|    April| 873277799|        513496|             2.14|           18600817|                0.0076|                 663691|       21.1|          4268|                          NO|                  NO|               NO|     4.155|      36284|
|1990|      May| 873277799|        513766|             2.15|           18688144|                0.0076|                 663691|       21.1|          4272|                          NO|                 YES|               NO|      4.16|      36328|
|1990|     June| 873277799|        514036|             2.16|           18775472|                0.0076|                 663691|       21.1|          4276|                          NO|                  NO|               NO|     4.165|      36372|
|1990|     July| 873277799|        514306|             2.17|           18862800|                0.0076|                 663691|       21.1|          4280|                         YES|                  NO|               NO|      4.17|      36415|
|1990|   August| 873277799|        514576|             2.18|           18950128|                0.0076|                 663691|       21.1|          4284|                          NO|                 YES|               NO|     4.175|      36459|
|1990|September| 873277799|        514846|             2.19|           19037456|                0.0076|                 663691|       21.1|          4288|                          NO|                 YES|               NO|      4.18|      36503|
|1990|  October| 873277799|        515116|              2.2|           19124783|                0.0076|                 663691|       21.1|          4292|                         YES|                 YES|               NO|     4.185|      36546|
|1990| November| 873277799|        515386|             2.21|           19212111|                0.0076|                 663691|       21.1|          4296|                         YES|                 YES|               NO|      4.19|      36590|
|1990| December| 873277799|        515656|             2.22|           19299439|                0.0076|                 663691|       21.2|          5256|                          NO|                 YES|               NO|     4.195|      36634|
|1991|  January| 888123777|        600654|            2.367|           19386767|                0.0076|                 674974|       21.2|          5259|                          NO|                  NO|               NO|       4.2|      37301|
|1991| February| 888123777|        612648|             2.37|           21021889|                0.0076|                 674974|       21.2|          5262|                         YES|                 YES|               NO|     4.205|      37345|
|1991|    March| 888123777|        624642|            2.373|           21048533|                0.0076|                 674974|       21.2|          5265|                         YES|                  NO|               NO|      4.21|      37390|
|1991|    April| 888123777|        636636|            2.376|           21075177|                0.0076|                 674974|       21.2|          5268|                          NO|                  NO|               NO|     4.215|      37434|
|1991|      May| 888123777|        648630|            2.379|           21101820|                0.0076|                 674974|       21.2|          5271|                          NO|                 YES|               NO|      4.22|      37478|
|1991|     June| 888123777|        660624|            2.382|           21128464|                0.0076|                 674974|       21.2|          5274|                         YES|                 YES|               NO|     4.225|      37523|
|1991|     July| 888123777|        672618|            2.385|           21155108|                0.0076|                 674974|       21.2|          5277|                         YES|                 YES|               NO|      4.23|      37567|
|1991|   August| 888123777|        684612|            2.388|           21181752|                0.0076|                 674974|       21.2|          5280|                         YES|                 YES|               NO|     4.235|      37612|
+----+---------+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
only showing top 20 rows

In [16]:
from pyspark.sql import functions as psf
df.filter(psf.col("Crime rate").isNotNull())

DataFrame[Year: int, Month: string, Population: int, New Immgirants: int, Unemployment rate: double, Total Unemployments: int, Police rate per 100000: double, Total Number Of Police : int, Average age: double, Average Income: int, Is Natural Calamity Affected: string, Is suffering Draught: string, Is BJP Government: string, Crime rate: double, Toal Crimes: int]

In [17]:
df.na.drop().count()

372

In [18]:
df.count()

372

In [19]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns])
df.select([c for c in df.columns if c in ['Year','_4','_5']]).show()

+----+
|Year|
+----+
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1990|
|1991|
|1991|
|1991|
|1991|
|1991|
|1991|
|1991|
|1991|
+----+
only showing top 20 rows

In [20]:
df.columns

['Year',
 'Month',
 'Population',
 'New Immgirants',
 'Unemployment rate',
 'Total Unemployments',
 'Police rate per 100000',
 'Total Number Of Police ',
 'Average age',
 'Average Income',
 'Is Natural Calamity Affected',
 'Is suffering Draught',
 'Is BJP Government',
 'Crime rate',
 'Toal Crimes']

In [21]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).select([c for c in df.columns if c in ['Year','Population','New Immgirants','Average age','Average Income']]).show()

+----+----------+--------------+-----------+--------------+
|Year|Population|New Immgirants|Average age|Average Income|
+----+----------+--------------+-----------+--------------+
|   0|         0|             0|          0|             0|
+----+----------+--------------+-----------+--------------+

In [22]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).select([c for c in df.columns if c in ['Is suffering Draught','Is Natural Calamity Affected','Is BJP Government','Unemployment rate','Average Income']]).show()

+-----------------+--------------+----------------------------+--------------------+-----------------+
|Unemployment rate|Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|
+-----------------+--------------+----------------------------+--------------------+-----------------+
|                0|             0|                           0|                   0|                0|
+-----------------+--------------+----------------------------+--------------------+-----------------+

In [23]:
df = spark.read.csv('./dataset_CrimeRate.csv',inferSchema=True,header=True)

In [24]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).select([c for c in df.columns if c in ['Is suffering Draught','Is Natural Calamity Affected','Total Unemployments','Crime rate','Toal Crimes']]).show()

+-------------------+----------------------------+--------------------+----------+-----------+
|Total Unemployments|Is Natural Calamity Affected|Is suffering Draught|Crime rate|Toal Crimes|
+-------------------+----------------------------+--------------------+----------+-----------+
|                  0|                           0|                   0|         0|          0|
+-------------------+----------------------------+--------------------+----------+-----------+

In [25]:
df.count()

372

In [26]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|Year|Month|Population|New Immgirants|Unemployment rate|Total Unemployments|Police rate per 100000|Total Number Of Police |Average age|Average Income|Is Natural Calamity Affected|Is suffering Draught|Is BJP Government|Crime rate|Toal Crimes|
+----+-----+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+
|   0|    0|         0|             0|                0|                  0|                     0|                      0|          0|             0|                           0|                   0|                0|         0|          0|
+----+-----+----------+--------------+-----------------+-------------------+----------------------+-----------------------+-----------+--------------+----------------------------+--------------------+-----------------+----------+-----------+

In [28]:
df = df.withColumn('Total Police Derived', col("Population") * col("Police rate per 100000") / 10)

In [29]:
#df.withColumn('Total Police Derived', col("Population") * col("Police rate per 100000") / 10)
from pyspark.sql.functions import dayofmonth,month,hour,year,format_number
df.select(format_number('Total Police Derived',2)).show()

+--------------------------------------+
|format_number(Total Police Derived, 2)|
+--------------------------------------+
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            663,691.13|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
|                            674,974.07|
+--------------------------------------+
only showing top 20 rows

In [30]:
df = df.withColumn('Total Unemployment Derived', col("Population") * col("Unemployment rate") / 10)
from pyspark.sql.functions import dayofmonth,month,hour,year,format_number
df.select(format_number('Total Unemployment Derived',2)).show()

+--------------------------------------------+
|format_number(Total Unemployment Derived, 2)|
+--------------------------------------------+
|                              184,261,615.59|
|                              185,134,893.39|
|                              186,008,171.19|
|                              186,881,448.99|
|                              187,754,726.78|
|                              188,628,004.58|
|                              189,501,282.38|
|                              190,374,560.18|
|                              191,247,837.98|
|                              192,121,115.78|
|                              192,994,393.58|
|                              193,867,671.38|
|                              210,218,898.02|
|                              210,485,335.15|
|                              210,751,772.28|
|                              211,018,209.42|
|                              211,284,646.55|
|                              211,551,083.68|
|                              211,817,520.81|
|                              212,083,957.95|
+--------------------------------------------+
only showing top 20 rows

In [31]:
df = df.withColumn('Total Crimes Derived', col("Population") * col("Crime rate") / 10)
from pyspark.sql.functions import dayofmonth,month,hour,year,format_number
df.select(format_number('Total Crimes Derived',2)).show()

+--------------------------------------+
|format_number(Total Crimes Derived, 2)|
+--------------------------------------+
|                        361,537,008.79|
|                        361,973,647.69|
|                        362,410,286.59|
|                        362,846,925.48|
|                        363,283,564.38|
|                        363,720,203.28|
|                        364,156,842.18|
|                        364,593,481.08|
|                        365,030,119.98|
|                        365,466,758.88|
|                        365,903,397.78|
|                        366,340,036.68|
|                        373,011,986.34|
|                        373,456,048.23|
|                        373,900,110.12|
|                        374,344,172.01|
|                        374,788,233.89|
|                        375,232,295.78|
|                        375,676,357.67|
|                        376,120,419.56|
+--------------------------------------+
only showing top 20 rows

In [32]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [33]:
df.columns

['Year',
 'Month',
 'Population',
 'New Immgirants',
 'Unemployment rate',
 'Total Unemployments',
 'Police rate per 100000',
 'Total Number Of Police ',
 'Average age',
 'Average Income',
 'Is Natural Calamity Affected',
 'Is suffering Draught',
 'Is BJP Government',
 'Crime rate',
 'Toal Crimes',
 'Total Police Derived',
 'Total Unemployment Derived',
 'Total Crimes Derived']

In [37]:
##### DATA MINING USING LINEAR REGRESSION ######

In [38]:
assembler = VectorAssembler(
    inputCols=['Year',
 #'Month',
 'Population',
 'New Immgirants',
 'Unemployment rate',
 'Total Unemployments',
 'Police rate per 100000',
 'Total Number Of Police ',
 'Average age',
 'Average Income',],
 #'Is Natural Calamity Affected',
 #'Is suffering Draught',
 #'Is BJP Government',
 #'Crime rate',],
    outputCol="features")

In [39]:
output = assembler.transform(df)

In [40]:
output.printSchema()
output.head(1)

root
 |-- Year: integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- Population: integer (nullable = true)
 |-- New Immgirants: integer (nullable = true)
 |-- Unemployment rate: double (nullable = true)
 |-- Total Unemployments: integer (nullable = true)
 |-- Police rate per 100000: double (nullable = true)
 |-- Total Number Of Police : integer (nullable = true)
 |-- Average age: double (nullable = true)
 |-- Average Income: integer (nullable = true)
 |-- Is Natural Calamity Affected: string (nullable = true)
 |-- Is suffering Draught: string (nullable = true)
 |-- Is BJP Government: string (nullable = true)
 |-- Crime rate: double (nullable = true)
 |-- Toal Crimes: integer (nullable = true)
 |-- Total Police Derived: double (nullable = true)
 |-- Total Unemployment Derived: double (nullable = true)
 |-- Total Crimes Derived: double (nullable = true)
 |-- features: vector (nullable = true)

[Row(Year=1990, Month='January', Population=873277799, New Immgirants=512686, Unemployment rate=2.11, Total Unemployments=18426161, Police rate per 100000=0.0076, Total Number Of Police =663691, Average age=21.1, Average Income=4256, Is Natural Calamity Affected='NO', Is suffering Draught='YES', Is BJP Government='NO', Crime rate=4.14, Toal Crimes=36153, Total Police Derived=663691.1272400001, Total Unemployment Derived=184261615.589, Total Crimes Derived=361537008.78599995, features=DenseVector([1990.0, 873277799.0, 512686.0, 2.11, 18426161.0, 0.0076, 663691.0, 21.1, 4256.0]))]

In [41]:
final_data = output.select("features",'Crime rate')
final_data.show()

+--------------------+----------+
|            features|Crime rate|
+--------------------+----------+
|[1990.0,8.7327779...|      4.14|
|[1990.0,8.7327779...|     4.145|
|[1990.0,8.7327779...|      4.15|
|[1990.0,8.7327779...|     4.155|
|[1990.0,8.7327779...|      4.16|
|[1990.0,8.7327779...|     4.165|
|[1990.0,8.7327779...|      4.17|
|[1990.0,8.7327779...|     4.175|
|[1990.0,8.7327779...|      4.18|
|[1990.0,8.7327779...|     4.185|
|[1990.0,8.7327779...|      4.19|
|[1990.0,8.7327779...|     4.195|
|[1991.0,8.8812377...|       4.2|
|[1991.0,8.8812377...|     4.205|
|[1991.0,8.8812377...|      4.21|
|[1991.0,8.8812377...|     4.215|
|[1991.0,8.8812377...|      4.22|
|[1991.0,8.8812377...|     4.225|
|[1991.0,8.8812377...|      4.23|
|[1991.0,8.8812377...|     4.235|
+--------------------+----------+
only showing top 20 rows

In [42]:
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [43]:
train_data.describe().show()

test_data.describe().show()

+-------+------------------+
|summary|        Crime rate|
+-------+------------------+
|  count|               272|
|   mean| 3.986244607852948|
| stddev|0.4201177955687889|
|    min|              3.15|
|    max|              4.88|
+-------+------------------+

+-------+-------------------+
|summary|         Crime rate|
+-------+-------------------+
|  count|                100|
|   mean| 3.9978646666699973|
| stddev|0.38131478622593884|
|    min|               3.15|
|    max|               4.88|
+-------+-------------------+

In [44]:
from pyspark.ml.regression import LinearRegression

In [45]:
lr = LinearRegression(labelCol='Crime rate')

In [46]:
lrModel = lr.fit(train_data)

In [47]:
print("Coefficients: {} Intercept: {}".format(lrModel.coefficients,lrModel.intercept))

Coefficients: [0.015145241382322148,1.4875100482254595e-09,5.712081027621778e-07,0.43548078265546697,-2.8176146740298538e-08,172.69577279159287,-1.301740906445417e-06,-0.4302404756152309,-7.165573312372071e-05] Intercept: -18.920665012257615

In [48]:
test_results = lrModel.evaluate(test_data)

In [49]:
test_results.residuals.show()

print("RSME: {}".format(test_results.rootMeanSquaredError))

+--------------------+
|           residuals|
+--------------------+
|-0.13462719674988932|
|-0.12167460308311373|
|-0.10872200941633192|
|-0.10548385395560178|
|-0.07502280560257013|
| -0.0837901132962191|
|-0.02248922993418745|
|-0.02362374258747657|
|-0.03043081850722...|
| 0.03943915906801454|
|0.035199710464015155|
|-0.00759691935613...|
|0.010052080970186061|
|0.010010743917895581|
|0.010014884886872188|
|0.016016432615113096|
| 0.01695993622241332|
|0.019933758510542354|
|0.020948917850965643|
|0.021964077191378273|
+--------------------+
only showing top 20 rows

RSME: 0.15560911244576411

In [50]:
print("R2: {}".format(test_results.r2))

R2: 0.8317838983231534

In [51]:
final_data.describe().show()

+-------+------------------+
|summary|        Crime rate|
+-------+------------------+
|  count|               372|
|   mean|3.9893682795779664|
| stddev|0.4095747161502728|
|    min|              3.15|
|    max|              4.88|
+-------+------------------+

In [52]:
trainingSummary = lrModel.summary

In [53]:
print("Deviance Residuals: " +str(trainingSummary.devianceResiduals))
print("Coefficient Standard Errors: " +str(trainingSummary.coefficientStandardErrors))
print("Explained Variance: " +str(trainingSummary.explainedVariance))
print("Features Col: " +str(trainingSummary.featuresCol))
print("Label Col: " +str(trainingSummary.labelCol))
print("Mean Absolute Error: " +str(trainingSummary.meanAbsoluteError))
print("Mean Squared Error: " +str(trainingSummary.meanSquaredError))
print("Num Instances: " +str(trainingSummary.numInstances))
print("Objective History: " +str(trainingSummary.objectiveHistory))
print("PValues: " +str(trainingSummary.pValues))
print("Prediction Col: " +str(trainingSummary.predictionCol))
print("R2: " +str(trainingSummary.r2))
print("Root Mean Squared Error: " +str(trainingSummary.rootMeanSquaredError))
print("TValues: " +str(trainingSummary.tValues))
print("Total Iterations: " +str(trainingSummary.totalIterations))

Deviance Residuals: [-0.318390814603692, 0.5509251922935983]
Coefficient Standard Errors: [0.049332207171493156, 1.4054273018162117e-09, 4.894626441950172e-07, 0.2519867490140516, 2.192024527790193e-08, 23.359396652623893, 4.126239961871812e-07, 0.05686216647595161, 0.00013312083977669716, 96.90282748902355]
Explained Variance: 0.1441374722425047
Features Col: features
Label Col: Crime rate
Mean Absolute Error: 0.12959340751037413
Mean Squared Error: 0.031712596666881365
Num Instances: 272
Objective History: [0.0]
PValues: [0.759083322675159, 0.290846072054487, 0.24426713329023664, 0.08513252242726077, 0.19978975270710198, 1.935118731921648e-12, 0.0017934872973752736, 6.52589093874667e-13, 0.5908436079322907, 0.8453454375511491]
Prediction Col: prediction
R2: 0.8196611644033778
Root Mean Squared Error: 0.17808030959901594
TValues: [0.30700514432027876, 1.0584041211545938, 1.1670106177389723, 1.7281892177242348, -1.2853937710589058, 7.392989440598178, -3.1547872117813047, -7.566375013115091, -0.5382758495508234, -0.19525400344381913]
Total Iterations: 1

In [54]:
correct_model = lr.fit(train_data)

In [55]:
train_results = correct_model.evaluate(train_data)

In [56]:
train_results.predictions.show(10)

+--------------------+----------+------------------+
|            features|Crime rate|        prediction|
+--------------------+----------+------------------+
|[1990.0,8.7327779...|      4.14| 4.275404785668087|
|[1990.0,8.7327779...|      4.15| 4.281389041289152|
|[1990.0,8.7327779...|     4.155| 4.283150885828427|
|[1990.0,8.7327779...|      4.16| 4.284912758543843|
|[1990.0,8.7327779...|      4.17| 4.288436447622377|
|[1990.0,8.7327779...|     4.175|4.2901982921616515|
|[1990.0,8.7327779...|      4.18| 4.291960136700922|
|[1990.0,8.7327779...|     4.195| 4.185718770067066|
|[1991.0,8.8812377...|       4.2| 4.318151697879731|
|[1991.0,8.8812377...|      4.21| 4.287214625481944|
+--------------------+----------+------------------+
only showing top 10 rows

In [57]:
correct_model = lr.fit(test_data)
test_results = correct_model.evaluate(test_data)
test_results.predictions.show(10)

+--------------------+----------+------------------+
|            features|Crime rate|        prediction|
+--------------------+----------+------------------+
|[1990.0,8.7327779...|     4.145| 4.239404061459865|
|[1990.0,8.7327779...|     4.165|  4.24486823708888|
|[1990.0,8.7327779...|     4.185| 4.250332412717924|
|[1990.0,8.7327779...|      4.19|4.2516984528466395|
|[1991.0,8.8812377...|     4.205| 4.314250133649836|
|[1991.0,8.8812377...|     4.225| 4.346167084503904|
|[1992.0,9.0611355...|      4.27| 4.277808575239277|
|[1992.0,9.0611355...|     4.275|4.2861609362010995|
|[1992.0,9.0611355...|     4.305|4.3362751019720065|
|[1993.0,9.2426569...|     4.325| 4.269009315998531|
+--------------------+----------+------------------+
only showing top 10 rows